.top {
	background-color: #FFFFFF;
	padding: 15px;
	color: #000000;
	font-family: Century;
	font-size: 32px;
	font-style: Bold;
}

.middle {
	background-color: #F8F8FF;
	padding: 40px;
	color: #332F1A;
	font-family: Century;
	font-size: 16px;
}

.end {
	background-color: #FFFFFF;
	padding: 10px;
	color: #000000;
	font-family: Century;
	font-size: 16px;
}

.end-content {
	font-family: Century;
	padding: 30px 50px;
	font-size: 16px;
}

a:link, a:visited, a:hover, a:active {
	color: #BC6F81;
}
.overlay {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 10;
	left: 0;
	background-color: #F8F8FF;
	color: #000000;
	overflow-x: hidden;
	transition: 0.5s;
}
  
.overlay-content {
	position: relative;
	top: 25%;
	width: 80%;
	text-align: justify;
	background-color: #F8F8FF;
	color: #000000;
	margin-top: 50px;
}
  
.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	background-color: #F8F8FF;
	color: #000000;
	display: block;
	transition: 0.3s;
}
  
.overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
}
  
.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}
  
@media screen and (max-height: 450px) {
	.overlay {overflow-y: auto;}
	.overlay a {font-size: 20px;}
	.overlay .closebtn {
	font-size: 40px;
	top: 15px;
	right: 35px;
	}
}

button {
	border: none;
	background-color: #FEFE1F;
	color: #000000;
	padding: 15px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family: Century;
	margin: 4px 2px;
	cursor: pointer;
}

.arrow {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}
  

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

ul.end {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	background-color: none;
	padding: 5px;
}

.grid-item {
	background-color: none;
	border: 0px solid;
	padding: 0px;
	font-size: 16px;
	text-align: left;
}